services:
  backend:
    build: .
    container_name: cosmic-backend
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis



  redis:
    image: redis:7
    container_name: cosmic-redis
    ports:
      - "6379:6379"

