version: "3.9"

services:
  backend:
    build: ./server
    container_name: cosmic-backend
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
      - redis
    volumes:
      - ./server:/app
      - /app/node_modules

  mongo:
    image: mongo:7
    container_name: cosmic-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: cosmic-redis
    ports:
      - "6379:6379"

volumes:
  mongo-data:
